<html>
<body>
<form action="/petinsert" method="post" enctype="multipart/form-data">
<input type="text" name ="name">
<input type="password" name ="password">
<input type="file" name ="file" accept="image/*">
    <input type="submit" value="Upload selected file to server">
</form>    
</body>
</html>