<html>
<head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>


    <style>
    body{
    font-family:  'Lucida Grande/Tahoma', Helvetica/Roboto;
}
.logo i {
    font-size: 31px;
    margin-right: 4px;
    word-spacing: 14px;
}
.logo{
    color: white;
    margin: 0;
    font-size: 31px;
    padding: 4px 0;
    padding-bottom: 15px;

}
.login-bottom-text{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color:#9DACCB;
    line-height: 19px;
}

header{
    background: #3b5998;
    padding-top: 20px;
}
header .form-group{
    margin-bottom: 0px;
}
header .btn-header-login{
    margin-bottom: 15px;    
}
.login-text {

   
  
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  
  border: solid #1d2a5b  1px;
  width:180px;
  height:29px;
}
.login-btn {
margin: 0px -1px 0px 0px;
padding: 1px 0px 2px 0px;
   background: #637BAD;
  background-image: -webkit-linear-gradient(top, #637BAD, #5973A8);
  background-image: -moz-linear-gradient(top, #637BAD, #5973A8);
  background-image: -ms-linear-gradient(top, #637BAD, #5973A8);
  background-image: -o-linear-gradient(top, #637BAD, #5973A8);
  background-image: linear-gradient(to bottom, #637BAD, #5973A8);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #f3ffff;
  font-size: 13px;
  border: solid #1d2a5b  1px;
  width:60px;
  height:29px;
}
.login-btn:hover {
  background: #637BAD;
  background-image: -webkit-linear-gradient(top, #637BAD, #5973A8);
  background-image: -moz-linear-gradient(top, #637BAD, #5973A8);
  background-image: -ms-linear-gradient(top, #637BAD, #5973A8);
  background-image: -o-linear-gradient(top, #637BAD, #5973A8);
  background-image: linear-gradient(to bottom, #637BAD, #5973A8);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #f3ffff;
  font-size: 13px;
  
  border: solid #1d2a5b  1px;
  text-decoration: none;
}
.login-main{
    margin-top: 130px;
}
.multibox{
    padding-left: 0px;
    padding-bottom: 10px;
}
.login-main span{
    font-size: 12px;
} 
#wrap{
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}

strong{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #f3ffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
  width:250px;
  height:35px;
  }


.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
 
}
.navbar-default .navbar-brand{
        color:#fff;
        font-size:30px;
        font-weight:bold;
    }
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}

footer hr{
    margin-top: 0px;
    padding-top: 0px;
}
.footer-options ul{
    clear: both;
    padding: 0px;
    margin: 0px;
}
.footer-options ul li{
    float:left;
    list-style: none;
    padding: 5px;
    font-size: 12px;
}
.footer-options ul li a{
    text-decoration: none;
    color: #000;
}
.copyrights{
    margin-top: 25px;
}

</style>
</head>
<body>
<div ng-app="jagfb"  ng-controller="jagfb">
<header>
    <div class="container">
    <div class="row"   >

        <div class="col-sm-6">
        <div class="row">
            <div class="logo">MyFacebook</div>
        </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="row">
            <form class="form-group" name="signinform" novalidate>
                <div class="col-sm-5">
                	<label style="margin-top: 0px; margin-bottom: 0px;font-size: 12px;color:#f3ffff;line-height: 19px">
                            Email
                      </label>
                       
                     <input type="email" name="user_email" ng-model="user_email" id="user_email" class="form-control login-text" required>
                     <!-- <span style="color:red" ng-show="mainform.user_email.$dirty && mainform.user_email.$invalid"> -->
						<span style="color:red" ng-show="signin">	
							<span ng-show="signinform.user_email.$error.required">Email is required.</span>
							<span ng-show="signinform.user_email.$error.email">Invalid email address.</span>
					</span>
				
                        <div class="login-bottom-text checkbox hidden-sm">
                            <label>
                              <input type="checkbox" id="">
                              Keep me sign in
                            </label>
                      </div>
                      </div>  
                <div class="col-sm-5">
                     <label style="margin-top: 0px; margin-bottom: 0px;font-size: 12px;color:#f3ffff;line-height: 19px">
                            Password
                      </label>
                        <input type="password"  name="user_password" ng-model="user_password" id="user_password"  class="form-control login-text" required>
                        <span style="color:red" ng-show="signin">
							<span ng-show="signinform.user_password.$error.required">Password is required.</span>
					   </span>
                        <div class="login-bottom-text hidden-sm"> Forgot your password?  </div>
                      
                </div>
                <div class="col-sm-2">
                     
                        <button type="submit" value="login" class="btn  btn-primary btn-header-login login-btn" ng-click="login()">Log In</button>
                     
                </div>
                 </form> 
            </div> 
           
        </div>
    </div>
    </div>
</header>

<div  id="wrap"  >
      <div class="row">
        <div class="col-sm-6 col-sd-offset-3">
                <div class="login-main">
                   <i class="fa fa-dashboard"></i> <h2 style="padding: 42px 0 24px; font-size: 28px; line-height: 36px"> Connect with friends and the<br />world around you on Facebook. </h2>

                   <div  style="text-align: left; width: 55px"><img src='/images/851565_602269956474188_918638970_n.png' alt="" style="vertical-align: middle" /></div><div><span> See photos and updates </span><span> from friends in News Feed. </span>
                   </div>

                    <div  style="text-align: center; width: 55px"><img  src='/images/851585_216271631855613_2121533625_n.png' alt="" style="vertical-align: middle" /></div><div><span> Share what&#039;s new </span><span> in your life on your Timeline. </span></div>

                   <div style="text-align: center; width: 55px"><img src='/images/851558_160351450817973_1678868765_n.png' alt="" style="vertical-align: middle" /></div><div><span> Find more </span><span> of what you&#039;re looking for with Facebook Search. </span></div>
               
                </div>
            </div>
        <div class="col-sm-5" >

             <form accept-charset="utf-8" class="form" role="form" name="signupform" novalidate>   <strong>Sign Up</strong>
                    <h4>It's free and always will be.</h4>
                    <div class="row">
                  
                        <div class="col-xs-6 col-md-6">
                        
                       <input type="text" name="firstname" ng-model="firstname" value="" class="form-control input-lg" placeholder="First Name"  required>              
					   <span style="color:red" ng-show="signup">
							<span ng-show="signupform.firstname.$error.required">First Name is required.</span>
					   </span>
						</div>
                        
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="lastname" ng-model="lastname" value="" class="form-control input-lg" placeholder="Last Name"  required/>                        
                   			<span style="color:red" ng-show="signup">
							<span ng-show="signupform.lastname.$error.required">Last Name is required.</span>
					   </span>
					   </div>
                    </div>
                    <input type="email" name="email" ng-model="email" value="" class="form-control input-lg" placeholder="Your Email"  required>
                       <span style="color:red" ng-show="signup">	
							<span ng-show="signupform.email.$error.required">Email is required.</span>
							<span ng-show="signupform.email.$error.email">Invalid email address.</span>
					</span>
					
					<input type="password" name="password" ng-model="password" value="" class="form-control input-lg" placeholder="Password"  required>
					<span style="color:red" ng-show="signup">	
							<span ng-show="signupform.password.$error.required">Password is required.</span>
					</span>
					
					<input type="password" name="confirm_password" ng-model="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password"  required>                  
					<span style="color:red" ng-show="signup">	
							<span ng-show="signupform.confirm_password.$error.required">Password is required.</span>
					</span><br>
                   <label>Birth Date</label>		
					   <div class="row">
					  			
                        <div class="col-xs-4 col-md-4">
                            <select name="month" class = "form-control input-lg">
                        
<option value="select">Month</option>
<option value="01">Jan</option>
<option value="02">Feb</option>
<option value="03">Mar</option>
<option value="04">Apr</option>
<option value="05">May</option>
<option value="06">Jun</option>
<option value="07">Jul</option>
<option value="08">Aug</option>
<option value="09">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select>                        </div>
                        <div class="col-xs-4 col-md-4">
                            <select name="day" class = "form-control input-lg">
<option value="select">Day</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>                        </div>
                        <div class="col-xs-4 col-md-4">
                            <select name="year" class = "form-control input-lg">
<option value="select">Year</option>
<option value="1935">1935</option>
<option value="1936">1936</option>
<option value="1937">1937</option>
<option value="1938">1938</option>
<option value="1939">1939</option>
<option value="1940">1940</option>
<option value="1941">1941</option>
<option value="1942">1942</option>
<option value="1943">1943</option>
<option value="1944">1944</option>
<option value="1945">1945</option>
<option value="1946">1946</option>
<option value="1947">1947</option>
<option value="1948">1948</option>
<option value="1949">1949</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2014">2014</option>
<option value="2015">2015</option>

</select>                        </div>
                    </div>
                     <label>Gender : </label>                    <label class="radio-inline">
                        <input type="radio" name="gender" value="F" id=female/>                        Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="M" id=male />                        Male
                    </label>
                    <br />
              <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                    <button class="btn btn-lg btn-primary signup-btn" type="submit" ng-click="logup()">
                        Sign Up</button>
            </form>          
          </div>
</div>            
</div>
<!-- </div> -->
<footer class="container">
<hr>
<div class="footer-options">
<ul >
    <li><a href="#">Mobile</li>
    <li><a href="#">Find Friends</li>
    <li><a href="#">Badges</li>
    <li><a href="#">People</li>
    <li><a href="#">Pages</li>
    <li><a href="#">Places</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Locations</a></li>
    <li><a href="#">About</a></li>
</ul>
</div>
<div style="clear:both"></div>
<small class="copyrights"> © Copyrights reserved  2015</small>
</footer>
</div>
</body>

<script>

var app = angular.module('jagfb', []);
app.controller('jagfb', function ($scope,$http,$window) 
		{
			//alert($scope.upform.firstname.$error.required);
			$scope.signup = false;
			$scope.login = function (){
			
				if($scope.signinform.user_email.$dirty && $scope.signinform.user_email.$valid)
					{
					if($scope.signinform.user_password.$dirty && $scope.signinform.user_password.$valid)
						{
						var user_email=$scope.user_email;
						var user_password=$scope.user_password;
						$http({
					      	  method: 'POST',
					      	 url: '/home',
					      	 data: {"user_email":user_email,"user_password":user_password}
					        }).
					          then(function(response) {
					        	  $window.location.href = '/home';
					          }); 
						}
					else
						{
						$scope.signin = true;
						}
					}
				else
					{
					$scope.signin = true;
					}
					
			}	
			
			$scope.logup = function (){
				if($scope.signupform.firstname.$dirty && $scope.signupform.firstname.$valid)
					{
					if($scope.signupform.lastname.$dirty && $scope.signupform.lastname.$valid)
						{
						if($scope.signupform.email.$dirty && $scope.signupform.email.$valid)
							{
							if($scope.signupform.password.$dirty && $scope.signupform.password.$valid)
								{
								if($scope.signupform.confirm_password.$dirty && $scope.signupform.confirm_password.$valid)
									{
									var user_email=$scope.user_email;
									var user_password=$scope.user_password;
									$http({
								      	  method: 'POST',
								      	 url: '/home',
								      	 data: {"user_email":user_email,"user_password":user_password}
								        }).
								          then(function(response) {
								        	  $window.location.href = '/home';
								          }); 
									}
								else
									{
									$scope.signup = true;
									}
								}
							else
								{
								$scope.signup = true;
								}
							}
						else
							{
							$scope.signup = true;
							}
						}
					else
						{
						$scope.signup = true;
						}
					}
				else
				{
				$scope.signup = true;
				}
			}	
		});
</script>
</html>